/*---------------------------------------------------------*/
/*-----ESTILOS NECESARIO PARA VISUALIZAR LOS LAYOUTS------*/
/*--------------------------------------------------------*/
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    font-size: 14px;
    font-family: 'Open Sans', Tahoma, Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

.divContent {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.wordwrap {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap; /* Opera <7 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE */
}

.tab, tab.tr, tab.td {
    border-collapse: collapse;
    border: 0.5px solid #D9D9D9;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.divg1 {
    text-align: left;
}

.divg2 {
    display: inline-block;
    text-align: left
}

.AlertCircle {
    background-color: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
    position: absolute;
    /*bottom: 15px;*/
}

.bor {
    border-collapse: collapse;
    border: 0.5px solid #D9D9D9;
}

.col-mor1 {
    background-color: #7030A0;
}

.col-mor2 {
    background-color: #B482DA;
}

.col-roj {
    background-color: #C00000;
}

.col-nar {
    background-color: #F8821F;
}

.col-bla {
    background-color: #FFF;
    color: #5F6368;
}

.btnAdd {
    background-color: #F7CAAC;
    border: 1px solid #000;
    border-radius: 14px;
    color: #595959;
    padding: 3px 8px;
    font-size: 13px;
}

.circle {
    background-color: transparent;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #000;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 22px;
    border: 3px solid #dddddd;
    padding: 0px;
}

.btnTab {
    font-size: 11px;
    width: 130px;
    height: 33px;
    padding: 2px 2px;
    background-color: #FFF;
    color: #8D9695;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    border-top: 2px solid #575757;
    border-bottom: 2px solid #575757;
    line-height: 120%;
    position: absolute;
    /*top: -45px;*/
    bottom: 0px;
}

.btnTab-nar {
    font-size: 11px;
    width: 130px;
    height: 33px;
    padding: 2px 2px;
    /*background-color: #FFF;*/
    background-color: #F87508;
    color: #FFF;
    border-left: 1px solid #575757;
    border-right: 1px solid #575757;
    border-bottom: none;
    /*border-left: none;*/
    /*border-right: none;*/
    font-weight: bold;
    line-height: 120%;
    position: absolute;
    /*top: -45px;*/
    bottom: 0px;
    /*background-image: linear-gradient(#F87508, #fcbd88);*/
}

.iSortH {
    width: 13px;
    height: 13px;
    position: absolute;
    right: 1px;
}

.iSortHs {
    width: 9px;
    height: 9px;
    position: absolute;
    right: 3px;
}

.divTabs {
    width: 100%;
    visibility: visible;
    background-color: rgb(255, 255, 255);
    height: 30px;
    display: inline-flex;
    padding-left: 30px;
    position: relative;
    top: -10px;
    border-bottom: 1px solid gray;
}

.i16 {
    width: 16px;
    height: 16px;
}

.i18 {
    width: 18px;
    height: 18px;
}


/*-----------------------------ESTILOS HTMLX-----------------------*/
/*---------------------------------------------------------------------------*/
/*HEADER COLLAPSED*/
.dhxlayout_base_material div.dhx_cell_layout.dhxlayout_collapsed_h div.dhx_cell_hdr {
    height: 35px;
}

/*Padding en el header del grid*/
div.gridbox_material.gridbox table.hdr td div.hdrcell {
    padding-left: 0px;
}

/*Alto de headers*/
.dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr {
    height: 35px
}
/*sombras que trae el skin material*/
.dhxlayout_base_material div.dhx_cell_layout {
    box-shadow: none;
}

/*Altura de tab*/
.dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base {
    font-size: 12px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}

    .dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left, .dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right {
        font-size: 12px;
        height: 30px;
        padding: 0px;
        margin: 0px;
    }

.dhxtabbar_base_material div.dhxtabbar_tabs {
    font-size: 12px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}

    .dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab div.dhxtabbar_tab_text {
        height: 32px;
        margin-top: -4px;
        padding: 0px;
    }

    .dhxtabbar_base_material div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tab {
        height: 30px;
        padding: 0px;
        margin: 0px;
    }

.dhxtabbar_tab_actv {
    height: 28px;
}

div.gridbox_material.gridbox table.obj tr.rowselected {
    /*background-color: #D9E9FC;*/
    background-color: #FFF6F4;
}

div.gridbox_material.gridbox table.obj tr.rowselectedtd {
    /*background-color: #D9E9FC;*/
    background-color: #FFF6F4;
}

.rowselected {
    background-color: #FFF6F4;
}

.dhtmlxGrid_selection {
    opacity: 0.5;
    background-color: #b0d0f7;
    border: 1px dotted black;
}

div.gridbox_material.gridbox table.obj.row20px tr td {
    padding-top: 0;
    padding-bottom: 0;
    height: 25px;
    line-height: 0px;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid white;
}

/*clases para paginación*/
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    height: 30px !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    /*color: #3399CC;*/
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .page-link:hover {
        z-index: 2;
        color: #2e7ca3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .page-link:focus {
        z-index: 3;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #3399CC;
    border-color: #3399CC;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

ul {
    margin-block-start: .3em;
    margin-block-end: .3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dhx_cell_statusbar_def {
    background-color: transparent;
}

.dhxtabbar_base_material div.dhx_cell_tabbar div.dhx_cell_statusbar_def {
    background-color: transparent;
}

/**/
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
    padding-right: 0;
    padding-left: 0;
}

.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%;
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding: 0.375rem 0;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;
}

    .form-control-plaintext.form-control-sm, .form-control-plaintext.form-control-lg {
        padding-right: 0;
        padding-left: 0;
    }

.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

select.form-control[size], select.form-control[multiple] {
    height: auto;
}

textarea.form-control {
    height: auto;
}

.was-validated .form-control:valid, .form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

    .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    }

.was-validated textarea.form-control:valid, textarea.form-control.is-valid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

    .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
        border-color: #dc3545;
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}


@media (min-width: 576px) {
    .form-inline label {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .form-inline .form-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }

    .form-inline .form-control-plaintext {
        display: inline-block;
    }

    .form-inline .input-group,
    .form-inline .custom-select {
        width: auto;
    }

    .form-inline .form-check {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        padding-left: 0;
    }

    .form-inline .form-check-input {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-top: 0;
        margin-right: 0.25rem;
        margin-left: 0;
    }

    .form-inline .custom-control {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .form-inline .custom-control-label {
        margin-bottom: 0;
    }
}

.input-group > .form-control,
.input-group > .form-control-plaintext,
.input-group > .custom-select,
.input-group > .custom-file {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}

    .input-group > .form-control + .form-control,
    .input-group > .form-control + .custom-select,
    .input-group > .form-control + .custom-file,
    .input-group > .form-control-plaintext + .form-control,
    .input-group > .form-control-plaintext + .custom-select,
    .input-group > .form-control-plaintext + .custom-file,
    .input-group > .custom-select + .form-control,
    .input-group > .custom-select + .custom-select,
    .input-group > .custom-select + .custom-file,
    .input-group > .custom-file + .form-control,
    .input-group > .custom-file + .custom-select,
    .input-group > .custom-file + .custom-file {
        margin-left: -1px;
    }

    .input-group > .form-control:focus,
    .input-group > .custom-select:focus,
    .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
        z-index: 3;
    }

    .input-group > .custom-file .custom-file-input:focus {
        z-index: 4;
    }

    .input-group > .form-control:not(:last-child),
    .input-group > .custom-select:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group > .form-control:not(:first-child),
    .input-group > .custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

.input-group-lg > .form-control:not(textarea),
.input-group-lg > .custom-select {
    height: calc(1.5em + 1rem + 2px);
}

.input-group-lg > .form-control,
.input-group-lg > .custom-select,
.input-group-lg > .input-group-prepend > .input-group-text,
.input-group-lg > .input-group-append > .input-group-text,
.input-group-lg > .input-group-prepend > .btn,
.input-group-lg > .input-group-append > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.input-group-sm > .form-control:not(textarea),
.input-group-sm > .custom-select {
    height: calc(1.5em + 0.5rem + 2px);
}

.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

/*clases para footer de layout*/

#my_footer {
    padding-top: 2px;
    background-color: white;
}

    #my_footer .my_footer_text {
        font-family: Tahoma;
        font-size: 12px;
        padding: 5px 10px;
        height: 30px; /* for autodetect */
        border: 1px solid #a4bed4
    }
